.tiptap {
  border: none;
  outline: none;
  height: 100%;
}

.tiptap :first-child {
  margin-top: 0;
}
.tiptap blockquote {
  border-left: 3px solid var(--gray-3);
  margin: 1.5rem 0;
  padding-left: 1rem;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror {
  padding-bottom: 200px;
}

.ProseMirror p {
  margin: 0.6rem 0;
}
